* {
    margin: 0;
    padding: 0;
  }

  
.ContainerBannerAbout{
    max-width: 1240px;
    margin:auto;
}

.HeaderAbout{
  width: 1240px;
}

.SlideAbout{
  margin-bottom: 200px;
}

.CollapseStyleLocation{
  width: 70%;
  height: auto;
  margin: 30px auto 0;
}

@media only screen and (max-width: 768px) {
  .CollapseStyleLocation{
   width: 85%;
  }
}

@media only screen and (max-width: 1250px) {
  .ContainerAbout{
    margin: 0px 20px;
  }
}