* {
    margin: 0;
    padding: 0;
  }

  
.ContainerBannerAbout{
    max-width: 1240px;
    margin:auto;
}

.HeaderAbout{
  width: 1240px;
}

.SlideAbout{
  margin-bottom: 200px;
}

@media only screen and (max-width: 1250px) {
  .ContainerAbout{
    margin: 0px 20px;
  }
}