* {
    margin: 0;
    padding: 0;
  }
  
.containerHome{
    display: flex;
    justify-content: center;
    /* margin: 0px 20px; */
    margin-top: 69px;
}

.containerAccueil{
  margin: auto;
  max-width: 1240px;
}

  @media only screen and (max-width: 450px) {
    .containerHome{
      margin-top: 16px;
    }
    .containerHome img {
      height: 111px;
    }
  }