.containerCarrousel{
    max-width: 100%;
    /* height: 415px; */
    margin: auto;
    position: relative;
  }

/* .containerArrow {
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 5;
    width: 73%;
    align-items: center;
    align-content: center;
  
    margin-top: 170px;
  }
  
  .containerArrow button {
    width: 88px;
    height: 79px;
  } */
  
  
  .imageSlide {
    width: 100%;
    height: 415px;
    object-fit: cover;
    border-radius: 10px;
  }
  .previousButtonMobile,
  .nextButtonMobile
  {
    display: none;
  }

  .previousButton{
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    left: 20px;
    top: 40%;
  }
  
  .nextButton{
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 40%;
  }

  .counterContainer {
    margin-top: -40px;
    font-family: Montserrat, sans-serif;
    font-weight: 900;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin-left: 14px;
    text-align: center;
  }



  
  @media only screen and (max-width: 450px) {
    .Carrousel,
    .imageSlide {
      height: 255px;
      width: 100%;
      margin: auto;
    }
  
    /* .containerArrow {
      margin-top: 0;
      margin-top: 120px;
      width: 85%;
    }
  
    .containerArrow button {
      width: 11px;
      height: 18px;
    }  */

    .previousButton,
    .nextButton{
      display: none;
    }

    .previousButtonMobile{
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    left: 6px;
    top: 48%;
    }

    .nextButtonMobile{
      display: block;
      background: none;
      border: none;
      cursor: pointer;
      position: absolute;
      z-index: 1;
      right: 6px;
      top: 48%;
    }

  }

  @media only screen and (max-width: 1250px) {
    .containerCarrousel{
      margin: 20px;
    }
  }

  